@*@model HastaneOtomasyonu.Models.VMs.ShowUsAllVM
@{
    ViewData["Title"] = "ShowUsAll";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-uppercase text-center" style="color:darkslategrey">Show Us All</h1>
<h2>List of Manager</h2>
<table class="table">
    <thead>
        <tr>
           
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                EmailAddress
            </th>
            <th>
                Password
            </th>
            <th>
                Status
            </th>
            <th>
                Function
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.managers)
        {
            <tr>
             
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.EmailAddress
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a class="btn btn-success" asp-action="UpdatedManager" asp-route-id="@item.ID">Update</a>
                    <a class="btn btn-danger" asp-action="DeletedManager" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<hr />

<h2>List of Personel</h2>

<table class="table">
    <thead>
        <tr>
          
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                EmailAddress
            </th>
            <th>
                Password
            </th>
            <th>
                Status
            </th>
            <th>Function</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.personels)
        {
            <tr>
               
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.EmailAddress
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
*@